h1 {
    text-align: center;
    margin: 25px;
    font-size: 60px;
}

.timerDisplay {
    text-align: center;
    margin-top: 50px;
    font-size: xxx-large;
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;

}

button {
    margin-right: 5px;
    height: 50px;
    width: 80px;
    font-weight: bold;
}